{% include 'coach/navbar.html' %}
<div class="container">
  {% if page == '/plans/workouts' %}
    {% include 'coach/workouts.html' %}
  {% elif page == '/plans/exercises' %}
    {% include 'coach/exercises.html' %}
  {% elif wmodify or wcreate %}
    {% include 'coach/workout-page.html' %}
  {% elif emodify or ecreate %}
    {% include 'coach/exercise-page.html' %}
  {% elif page == '/plans/messages' %}
    {% include 'coach/messages.html' %}
  {% else %}
    {% include 'coach/main.html' %}
  {% endif %}
</div>
