{% include 'coach/navbar.html' %}
<div class="container">
  {% if page == '/plans/workouts' %}
    {% include 'coach/workouts.html' %}
  {% elif page == '/plans/exercises' %}
    {% include 'coach/exercises.html' %}
  {% elif page == '/messaging/c' %}
    {% include 'coach/conversations.html' %}
  {% elif messaging %}
    {% include 'coach/conversation.html' %}
  {% elif wmodify or wcreate %}
    {% include 'coach/workout-page.html' %}
  {% elif emodify or ecreate %}
    {% include 'coach/exercise-page.html' %}
  {% else %}
    {% include 'coach/main.html' %}
  {% endif %}
</div>
