<div class="container">
  <div class="spaced">
    {% if emodify %}
    <h2>Modify an Exercise</h2>
    <form class="form" id="exercise-form" action="{% url 'coach:esave' id %}" autocomplete="off" method="post">
    {% elif ecreate %}
    <h2>Create an Exercise</h2>
    <form class="form" id="exercise-form" action="{% url 'coach:esave_new' %}" autocomplete="off" method="post">
    {% endif %}
      {% csrf_token %}
      <label>Name</label>
      <input type="text" class="form-control" required name="name" value="{{ name }}" maxlength="100">
      <label>Sets</label>
      <input type="number" class="form-control" name="sets" value="{{ sets }}">
      <label>Reps</label>
      <input type="number" class="form-control" name="reps" value="{{ reps }}">
      <label>Notes</label>
      <textarea class="form-control" name="notes" value="{{ notes }}" maxlength="500" form="exercise-form"></textarea>
      <input type="submit" align="right" value="Save">
    </form>
    <p>{{ error }}</p>
  </div>
</div>
