{% load static %}
<div class="container">
  <a class="navbar-brand" href="{% url 'home:index' %}">CatchALift</a>
  <ul class="nav nav-tabs navbar-right">
    <li role="presentation" {% if page == '/coach/workouts' %}class="active"{% endif %}><a href="{% url 'coach:workouts' %}">Workout Plans</a></li>
    <li role="presentation" {% if page == '/coach/message' %}class="active"{% endif %}><a href="#">Messages</a></li>
    <li role="presentation"><a href="{% url 'home:sign_out' %}">Logout</a></li>
  </ul>
</div>
