{% block css %}
<style>
  textarea{
    resize: none;
  }
</style>
{% endblock %}
<div class="container">
  <div class="spaced">
    {% if wmodify %}
    <h2>Modify a Workout Plan</h2>
    <form class="form" id="workout-form" action="{% url 'plans:wsave' id %}" autocomplete="off" method="post">
    {% elif wcreate %}
    <h2>Create a Workout Plan</h2>
    <form class="form" id="workout-form" action="{% url 'plans:wsave_new' %}" autocomplete="off" method="post">
    {% endif %}
      {% csrf_token %}
      <label>Title</label>
      <input type="text" class="form-control" required name="title" value="{{ title }}" maxlength="20">
      <label>Description</label>
      <input type="text" class="form-control" name="description" value="{{ description }}" maxlength="100">
      <label>Exercises</label>
      <p>Ctrl+Click to select multiple Exercises</p>
      <select required multiple class="form-control" name="exercises">
        {% for exercise in all_exercises %}
          <option value="{{ exercise.name }}" {% if exercise in workout_exercises %}selected="selected"{% endif %} name='{{ forloop.counter }}'>{{ exercise }}</option>
        {% endfor %}
      </select>
      <label>Notes</label>
      <textarea class="form-control" name="notes" maxlength="300" form="workout-form">{{ notes }}</textarea>
      <input type="submit" align="right" value="Save">
    </form>
    <p>{{ error }}</p>
  </div>
</div>
