<div class="container">
  <div class="spaced">
    {% if wmodify %}
    <h2>Modify a Workout Plan</h2>
    <form class="form" action="{% url 'plans:wsave' id %}" autocomplete="off" method="post">
    {% elif wcreate %}
    <h2>Create a Workout Plan</h2>
    <form class="form" action="{% url 'plans:wsave_new' %}" autocomplete="off" method="post">
    {% endif %}
      {% csrf_token %}
      <label>Title</label>
      <input type="text" class="form-control" required name="title" value="{{ title }}" maxlength="10">
      <label>Description</label>
      <input type="text" class="form-control" name="description" value="{{ description }}" maxlength="100">
      <label>Notes</label>
      <input type="text" class="form-control" name="notes" value="{{ notes }}" maxlength="300">
      <label>Exercises</label>
      <p>Ctrl+Click to select multiple Exercises</p>
      <select required multiple class="form-control" name="exercises">
        {% for exercise in all_exercises %}
          <option value="{{ exercise.name }}" {% if exercise in workout_exercises %}selected="selected"{% endif %} name='{{ forloop.counter }}'>{{ exercise }}</option>
        {% endfor %}
      </select>
      <input type="submit" align="right" value="Save">
    </form>
    <p>{{ error }}</p>
  </div>
</div>
