<div class="container spaced">
  <h2>My Plans</h2>
  <div class="container">
    <ul class="list-group spaced">
      <h4>Your subscribed workouts:</h4>
      {% for workout in my_workouts %}
        <li class="list-group-item">
          <a href="{% url 'plans:results' workout.id %}">
            <h4>{{ workout.title }}</h4>
          </a>
          <h4>
            <a href="{% url 'plans:unsubscribe' workout.id %}">
              <span class="label label-danger pull-right">Unsubscribe</span>
            </a>
          </h4>
          <p>{{ workout.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
