<div class="spaced">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h3>Search Workouts</h3></th>

        <th></th>
        <th>
          <form class="form-search pull-right" method="post" action="{% url 'plans:search' %}">
            {% csrf_token %}
            <input type="text" class="input-medium search-query" name="search" placeholder="Search" value="">
            <button type="submit" class="add-on"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for workout in workouts %}
        <tr>
          <td class="title">
            <a href="{% url 'plans:results' workout.0.id %}">{{ workout.0.title }}</a>
            {% if workout.1 %}
              <a href="{% url 'plans:unsubscribe' workout.0.id %}"><span class="label label-danger pull-right">Subscribed</span></a>
            {% endif %}
          </td>
          <td>{{ workout.0.description }}</td>
          <td>{{ workout.0.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
