<!-- rendered through index.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
{% include 'user/sidebar.html' %}
<div class="container">
  <div class="col-md-13 col-md-offset-1">
{% if page == '/plans/search' %}
  {% include 'user/search.html' %}
{% elif page == '/plans/myplans' %}
  {% include 'user/myplans.html' %}
{% elif view_workout %}
  {% include 'user/view-workout.html' %}
{% else %}
  {% include 'user/main.html' %}
{% endif %}
  </div>
</div>
