<!-- rendered through index.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
{% include 'user/navbar.html' %}
<div class="container spaced spaced-user ">
{% if page == '/plans/search' %}
  {% include 'user/search.html' %}
{% elif page == '/plans/myplans' %}
  {% include 'user/myplans.html' %}
{% elif page == '/messaging/u' %}
  {% include 'user/conversations.html' %}
{% elif messaging %}
  {% include 'user/conversation.html' %}
{% elif view_workout %}
  {% include 'user/view-workout.html' %}
{% else %}
  {% include 'user/main.html' %}
{% endif %}
</div>
