<div class="container">
  <div class="spaced">
    <button type="button" class="btn btn-success click-element" onclick="location.href='{% url 'home:create' %}';">Add a New Account</button>
    <h3>Coach Accounts</h3>
    <div class="container spaced">
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Username</b></td>
            <td><b>First Name</b></td>
            <td><b>Last Name</b></td>
            <td><b>Options</b></td>
          </tr>
        </thead>
        <tbody>
          {% for coach in coach_list %}
            <tr>
              <td>{{ coach.get_username }}</td>
              <td>{{ coach.first_name }}</td>
              <td>{{ coach.last_name }}</td>
              <td><a href="{% url 'home:remove' coach.id %}" onClick="return confirm('Are you sure you want to remove {{ coach.get_username }}?')">Remove</a>/<a href="{% url 'home:modify' coach.id %}">Modify</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <h3>User Accounts</h3>
    <div class="container spaced">
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Username</b></td>
            <td><b>First Name</b></td>
            <td><b>Last Name</b></td>
            <td><b>Options</b></td>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
            <tr>
              <td>{{ user.get_username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td><a href="{% url 'home:remove' user.id %}" onClick="return confirm('Are you sure you want to remove {{ user.get_username }}?')">Remove</a>/<a href="{% url 'home:modify' user.id %}">Modify</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
