{% extends "base.html" %}

{% block css %}
<style>
    .spaced
    {
        margin-top:20px;
    }

    .click-element{
      cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div>
	{% if group == "User" %}
		{% include 'user/user.html' %}
	{% elif group == "CALadmin" %}
		{% include 'admin/admin.html' %}
	{% elif group == "Coach" %}
		{% include 'coach/coach.html' %}
	{% else %}
		<p>This account is not registered into a group.</p>
	{% endif %}

</div>
{% endblock content %}
