<!-- included in admin/admin.html -->
<div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3>Welcome <b>{{ name }}</b> to CAL Project account manager!</h3>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" {% if page == '/' %}class="active"{% endif %}><a href="{% url 'home:index' %}">Home</a></li>
          <li role="presentation" {% if page == '/manager' %}class="active"{% endif %}><a href="{% url 'home:manager' %}">Account Manager</a></li>
          <li><a href="{% url 'home:sign_out' %}">Logout</a></li>
        </ul>
    </div>
</div>
